header.header
  nav.nav
    .logo
      a(href='')
        img.nav__img(src='/images/favicon.jpg' alt='LOGO')
    .title
      h3.nav__title #{title}
    .links
      ul
        li.nav__link
          a(href='/') Home
        li.nav__link
          a(href='/bookings') Bookings
        li.nav__link
          a(href='/calender') calender
        li.nav__link
          a(href='/table') table
        li.nav__link
          a(href='/bin') bin
        li.nav__link
          a(id="logout") Logout
    .menu-btn
      .menu-btn__line
      .menu-btn__line
      .menu-btn__line
.menu
  ul.menu__list
    li.menu__link
      a(href="/") Home
    li.menu__link
      a(href="/bookings") Bookings
    li.menu__link
      a(href="#") Halls

